@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;100&display=swap');
.song-name{
  font-weight: 1000;
  font-size: 1.0rem;
  text-align: center;
  font-family: "Nunito Sans";
  color : #fff;
}

.author-name{
  font-weight: 100;
  font-family: "Nunito Sans";
  color: #fff;
  text-align: center;
}