@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: "Nunito Sans";
  padding: 0;
  margin: 0;
/*  background-color: #e0e0e0;*/
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button{
  text-transform: capitalize !important;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}